# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
static/

# Virtual Environment
.env
venv/
env/

# IDE and editor settings
.idea/
.vscode/
*.swp
*.bak

# Operating System files
.DS_Store
Thumbs.db

# Testing and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Deployment files
*.tar.gz
*.zip